*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.card__style {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 300px;
    max-height: 300px;
}

.card__style--ul{
    background-color: blanchedalmond;

}

.card__style--ul-li{
    background-color: brown;
}

